
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* border-box add padding and border to the width itself */

body{
    background-color: white;
}

.main{
    background: #ccc;
    border: 5px solid black;
    width: 400px;
    height: 175px;
    margin: 100px auto;
    position: relative;
    border-radius: 5px;
}

.badge{
    width: 96px;
    background: #e66357;
    color: white;
    padding: 5px 10px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    top: -15px;
    left: 150px;
}

.clock{
    color:black;
    width: 200px;
    height: 90px;
    padding-top: 25px;
    text-align: center;
    font-family: Orbitron, sans-serif;
    font-size: 30px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 4px;
}

.analog-clock {
    height: 160px;
    width: 90%;
    max-width: 160px;
    margin: 0 auto;
    border-radius: 50%;
    /* border: 5px solid gray; */
    position: absolute;
    top: 5px;
    left: 10px;
    background-image: url(https://www.freepngimg.com/thumb/clock/33735-6-clock-no-hands-clipart.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .hr {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    height: 5px;
    background-color:#5f738f;
    transform-origin: left;
    transform: rotate(-90deg);
  }

  .min{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35%;
    height: 5px;
    background-color:#5f738f;;
    transform-origin: left;
    transform: rotate(-90deg);
  }

  .sec {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 2px;
    background-color:#5f738f;
    transform-origin: left;
    transform: rotate(-90deg);
  }

  .notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
  width: 200px;
  height: 90px;
  position: absolute;
  top: 20px;
  right: 0px;
}

.weather-icon img{
  position:absolute;
  height: 50px;
  top: 5px;
  left: 20px;
}

.temperature-value{
  width : 100px;
  height: 60px;
  font-family: Orbitron, sans-serif;
  position: absolute;
  top: 20px;
  right: 40px;
}

.temperature-value > p {
  padding: 0;
  margin: 0;
  color:black;
  font-size: 1em;
  text-align: center;
  cursor:pointer;
}

.temperature-description p{
    padding: 8px;
    margin: 0;
    color:black;
    text-align: center;
    font-size: 0.5em;
    font-family: Orbitron, sans-serif;
    position: absolute;
    top: 30px;
    right: 40px;
}

.location p{
  margin: 0;
  padding: 0;
  color:black;
  text-align: center;
  font-size: 0.8em;
  font-family: Orbitron, sans-serif;
  position:absolute;
  top: 6px;
  right: 90px;
}
